## Дослідження кількості світового населення за країнами (1970-2050рр.)

### Обрані датасети:
1. https://www.kaggle.com/datasets/tusharaggarwal27/2022-dec-world-populations
2. https://www.kaggle.com/datasets/iamsouravbanerjee/world-population-dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
first_dataframe = pd.read_csv("world_population_1.csv")
first_dataframe

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [19]:
second_dataframe = pd.read_csv("world_population_2.csv")
second_dataframe

,cca2,country,pop2022,pop2021,pop2020,pop2050,pop2030,pop2015,pop2010,pop2000,pop1990,pop1980,pop1970,area,landAreaKm,density,GrowthRate,WorldPercentage,rank
0,CN,China,1425887.337,1425893.465,1424929.781,1312636.325,1415605.906,1393715.448,1348191.368,1264099.069,1153704.252,982372.466,822534.450,9706961,9424702.90,151.2926,1.0000,0.1788,1
1,IN,India,1417173.173,1407563.842,1396387.127,1670490.596,1514994.080,1322866.505,1240613.620,1059633.675,870452.165,696828.385,557501.301,3287590,2973190.00,476.6507,1.0068,0.1777,2
2,US,United States,338289.857,336997.624,335942.003,375391.963,352162.301,324607.776,311182.845,282398.554,248083.732,223140.018,200328.340,9372610,9147420.00,36.9820,1.0038,0.0424,3
3,ID,Indonesia,275501.339,273753.191,271857.970,317225.213,292150.100,259091.970,244016.173,214072.421,182159.874,148177.096,115228.394,1904569,1877519.00,146.7369,1.0064,0.0345,4
4,PK,Pakistan,235824.862,231402.117,227196.741,367808.468,274029.836,210969.298,194454.498,154369.924,115414.069,80624.057,59290.872,881912,770880.00,305.9164,1.0191,0.0296,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,MS,Montserrat,4.390,4.417,4.500,3.781,4.301,5.059,4.938,5.138,10.805,11.452,11.402,102,102.00,43.0392,0.9939,0.0000,230
230,FK,Falkland Islands,3.780,3.764,3.747,3.779,3.869,3.408,3.187,3.080,2.332,2.240,2.274,12173,12173.00,0.3105,1.0043,0.0000,231
231,NU,Niue,1.934,1.937,1.942,2.096,1.948,1.847,1.812,2.074,2.533,3.637,5.185,260,261.00,7.4100,0.9985,0.0000,232
232,TK,Tokelau,1.871,1.849,1.827,2.430,2.046,1.454,1.367,1.666,1.669,1.647,1.714,12,10.00,187.1000,1.0119,0.0000,233
233,VA,Vatican City,0.510,0.511,0.520,0.731,0.561,0.564,0.596,0.651,0.700,0.733,0.752,1,0.44,1159.0909,0.9980,0.0000,234

In [20]:
second_dataframe[['pop2030', 'pop2050']] *= 1000
result_dataframe = pd.merge(first_dataframe, second_dataframe[['country', 'pop2030', 'pop2050']], 
'left', left_on='Country/Territory', right_on='country')
result_dataframe = result_dataframe.astype({ 'pop2030': np.int32, 'pop2050': np.int32 })
result_dataframe.rename(columns={"pop2030": "2030 Predicted population",
 "pop2050": "2050 Predicted population"}, inplace=True)
result_dataframe.drop(columns=['CCA3', 'Capital', 'country'])
result_dataframe = result_dataframe[['Rank', 'Country/Territory', 'Continent', '1970 Population', 
'1980 Population', '1990 Population', '2000 Population', '2010 Population', '2015 Population', 
'2020 Population', '2022 Population', '2030 Predicted population', '2050 Predicted population',
'Area (km²)', 'Density (per km²)', 'Growth Rate', 'World Population Percentage']]
result_dataframe

,Rank,Country/Territory,Continent,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,2015 Population,2020 Population,2022 Population,2030 Predicted population,2050 Predicted population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,Afghanistan,Asia,10752971,12486631,10694796,19542982,28189672,33753499,38972230,41128771,50330837,74075234,652230,63.0587,1.0257,0.52
1,138,Albania,Europe,2324731,2941651,3295066,3182021,2913399,2882481,2866849,2842321,2789599,2456472,28748,98.8702,0.9957,0.04
2,34,Algeria,Africa,13795915,18739378,25518074,30774621,35856344,39543154,43451666,44903225,49787283,60001113,2381741,18.8531,1.0164,0.56
3,213,American Samoa,Oceania,27075,32886,47818,58230,54849,51368,46189,44273,41142,33557,199,222.4774,0.9831,0.00
4,203,Andorra,Europe,19860,35611,53569,66097,71519,71746,77700,79824,81528,80504,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,Wallis and Futuna,Oceania,9377,11315,13454,14723,13142,12182,11655,11572,11229,11349,142,81.4930,0.9953,0.00
230,172,Western Sahara,Africa,76371,116775,178529,270375,413296,491824,556048,575986,662726,851067,266000,2.1654,1.0184,0.01
231,46,Yemen,Asia,6843607,9204938,13375121,18628700,24743946,28516545,32284046,33696614,39923245,55296331,527968,63.8232,1.0217,0.42
232,63,Zambia,Africa,4281671,5720438,7686401,9891136,13792086,16248230,18927715,20017675,24676417,37460435,752612,26.5976,1.0280,0.25
233,74,Zimbabwe,Africa,5202918,7049926,10113893,11834676,12839771,14154937,15669666,16320537,19179393,26438589,390757,41.7665,1.0204,0.20